.contact-form {
  grid-area: form;
  background: #fff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10.3% 8.5% 13.3%;
  height: 456px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .contact-form {
    height: 433px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .contact-form {
    height: 393px;
  }
}