.galery__content{
    max-width: 944px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width: 965px){
    .galery__content{
        width: 83%;
    }
}

@media (max-width: 425px){
    .galery__content{
        display: flex;
        gap: 0;
        overflow-x: scroll;
        padding-bottom: 15px;
    }
    .galery__content::-webkit-scrollbar{
        background: #cecece;
        border-radius: 6px;
        height: 4px;
    }


    .galery__content::-webkit-scrollbar-thumb{
        background: #ffbb01;
        border-radius: 6px;
    }
}