.subtitle_place_promis {
  margin-bottom: 17px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subtitle_place_promis {
    margin-bottom: 6px;
    line-height: 28px;
    font-size: 18px;
  }
}