.contact-form__name {
  background-image: url(../../../images/user-icon.png);
  background-repeat: no-repeat;
  background-position: center left 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact-form__name {
    background-position: center left 22px;
  }
}