.portfolio__card{
    max-width: 304px;
    max-height: 304px;
    margin-right: 16px;
    position: relative;
    
}
.portfolio__card:last-child{
    margin-right: 0;
}

.portfolio__card::before{
    content: '';
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%);
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    border-radius: 6px; 
}
.portfolio__card:hover::before{
    opacity: .1;
    transition: .8s ease;
}