.social-links__link {
  margin-right: 21px;
}

.social-links__link:last-child {
  margin-right: 0;
}

.social-links__link:hover {
  opacity: 0.7;
}

@media (min-width: 320px) and (max-width: 424px) {
  .social-links__link {
    margin-right: 13px;
  }
}