.footer {
  max-width: 944px;
  margin: 0 auto;
  padding: 64px 0 87px;
}

@media (max-width: 1023px) {
  .footer {
    width: 83%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 63px 0 50px;
  }
}