.footer__content {
  display: grid;
  margin-top: 80px;
  grid-template-columns: 49% 15.5% 15.5%;
  grid-template-rows: 16.5% 16.5% 4.5% 41.5%;
  gap: 7% 10%;
  grid-template-areas: 
  "form contact_left contact_right"
  "form contact_bottom contact_bottom"
  "form contact_links ."
  "form link link";
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__content {
    margin-top: 60px;
    display:block;
  }
}