.portfolio__title{
    max-width: 57%;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.56;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 76px;
    left: 30px;
    z-index: 5;
}